<?xml version="1.0" encoding="UTF-8"?>
<plugin>
<name>reNumberNotes</name>
<type>edit</type>
<author>ChenyangGao(https://chenyanggao.github.io/)</author>
<description>脚注编号|元素文本节点替换</description>
<engine>python3.4</engine>
<version>0.0.5</version>
<autostart>true</autostart>
<autoclose>false</autoclose>
<oslist>osx,unx,win</oslist>
</plugin>
