<?xml version="1.0" encoding="UTF-8"?>
<plugin>
<name>reNumberNotes</name>
<type>edit</type>
<author>ChenyangGao(https://chenyanggao.github.io/)</author>
<description>把位于同一页面的脚注进行重新编号</description>
<engine>python3.4</engine>
<version>0.0.4</version>
<autostart>true</autostart>
<autoclose>true</autoclose>
<oslist>osx,win,unx</oslist>
</plugin>
